.account-view .choiceButton {
    height: 3rem;
    width: 100%;
}

.account-view .choiceButtonLayout {
    width: 400px !important;
}

.account-view .registerButton {
    margin-top: 20px;
    cursor: pointer;
}



